:root {
  --pico-spacing: 0.5rem !important;
  --pico-form-element-spacing-vertical: 0.33rem !important;
  --pico-form-element-spacing-horizontal: 0.66rem !important;
}

textarea {
  min-height: 250px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-all;
  padding: 0.5rem;
  font-size: 0.75em !important;
}

.break-all {
  word-break: break-all !important;
}

.flex-0 {
  flex: 0 0 auto !important;
}

.px-1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.inline-block {
  display: inline-block !important;
}

.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: var(--pico-spacing);
}

.top-fixed {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--pico-background-color);
}

.nav-active {
  font-weight: bold !important;
  text-decoration: underline !important;
}

.ml-1 {
  margin-left: 0.125rem !important;
}
